

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Policies</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Policy Name</th>
                            <th>Discription</th>
                            <th>Amount</th>
                            <th>Duration</th>
                            <th>Action</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr *ngFor="let items of PolicyService.PolicyList">
                            <td>{{items.policyID}}</td>
                            <td>{{items.policyType}}</td>
                            <td>{{items.coverageDetail}}</td>
                            <td>{{items.premiumAmount}}</td>
                            <td>{{items.duration}}</td>
                         <td><div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Action
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" (click)="EditPolicy(items)">Edit</a></li>
                              <li><a class="dropdown-item" (click)="Delete(items.policyID)">Delete</a></li>
                            
                            </ul>
                          </div></td>
                        </tr>
                      
                

                    </tbody>
                </table>
             <a href="/PoliciesForm" class="btn btn-primary">Add New Policies</a>
            </div>
        </div>
    </div>


<!-- /.container-fluid -->