<div id="wrapper">
    <app-side-bar></app-side-bar>
    <div id="content-wrapper" class="d-flex flex-column">   
        <div id="content">
            <app-top-bar></app-top-bar>
            <div class="container-fluid">
          <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Applied Insurance</h1>
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
       
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                             <th>policy Name</th>
                             <th>status</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        
                         <tr *ngFor="let items of Insurance.PolicyHolderList ">
                            <td>{{items.policyHolderID}}</td>
                            <td>{{items.policyHolderName}}</td>
                            <td>{{items.policyHolderEmail}}</td>
                            <td>{{items.policyHolderPhone}}</td>
                            <td>{{items.policyName}}</td>
                        
                        
                            <td>
                                <button *ngIf="items.status === 0" (click)="activateItem(items)" class="btn btn-primary">Activate</button>
                                <button *ngIf="items.status === 1" (click)="deactivateItem(items)" class="btn btn-success">Deactivate</button>
                              </td>
                              
                       
                        </tr> 
                   
                

                    </tbody>
                </table>

            </div>
        </div>
    </div>


<!-- /.container-fluid -->
            </div>
        </div>
    </div>
</div>