<div id="wrapper">
    <app-side-bar></app-side-bar>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-top-bar></app-top-bar>
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">User List</h1>
                <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                    For more information about DataTables, please visit the <a target="_blank"
                        href="https://datatables.net">official DataTables documentation</a>.</p>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Amount</th>
                                        <th>Premium Amount</th>
                                        <th>status</th>
                                         <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let items of  LoanList.LoanList">
                                        <td>{{items.loanId}}</td>
                                        <td>{{items.holderName}}</td>
                                        <td>{{items.holderEmail}}</td>
                                        <td>{{items.loanType}}</td>
                                        <td>{{items.amountPremium}}</td>
                                        <td>{{items.status}}</td>

                                        <td>
                                            <ng-container *ngIf="items.status === 'Pending'; else cancelBlock">
                                              <button (click)="activateItem(items)">Active</button>
                                            </ng-container>
                                            <ng-template #cancelBlock>
                                              <button (click)="cancelItem(items)">Cancel</button>
                                            </ng-template>
                                          </td>
                                          
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>


                <!-- /.container-fluid -->
            </div>
        </div>
    </div>
</div>