<!-- Features Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h2 class="display-4 mb-4">{{policyService.PolicyData.policyType}}</h2>
                <div class="mb-4">
                    <hr class="bg-primary">
                </div>
                <p class="lead">{{policyService.PolicyData.coverageDetail}}</p>
                <div class="mb-4">
                    <hr class="bg-primary">
                </div>
                <p class="lead">Premium Amount: {{policyService.PolicyData.premiumAmount}}</p>
                <div class="mb-4">
                    <hr class="bg-primary">
                </div>
                <p class="lead">Duration: {{policyService.PolicyData.duration}}</p>
                <a *ngIf="token==null; else logoutButton" href="/Login" class="btn btn-primary log">Buy Now</a>

                <ng-template #logoutButton>
                  <a href="/policyForm" class="btn btn-primary">Buy Now</a>
                </ng-template>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->

