<app-top-bar-component></app-top-bar-component>
<app-navbar></app-navbar>


<div class="container">
    <table class="table">
             <thead>
                <th>#</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Monthy Payment</th>
                <th>Status</th>
              
             </thead>
<tbody>
    <tr *ngFor="let item of loan.LoanList">
                 <td>{{item.loanId}}</td>
                 <td>{{item.holderName}}</td>
                 <td>{{item.loanType}}</td>
                 <td>{{item.amountPremium}}</td>

                 <td>{{item.status}}</td>
                 
      
              
    </tr>
</tbody>

    </table>
</div>
  

  <app-footer-component></app-footer-component>