<div class="container mt-5">
    <h2 class="text-center mb-4">Transaction Form</h2>
    <form #MyForm="ngForm" (ngSubmit)="AddTransaction(this.transaction.TransactionData)">
        <div class="mb-3">
            <label for="fullName" class="form-label">Card Number</label>
            <input type="text" class="form-control" name="cardNumber" #cardNumber="ngModel"
                [(ngModel)]="transaction.TransactionData.cardNumber" required>
        </div>

        <div class="mb-3">
            <label for="fullName" class="form-label">Expiration Date</label>
            <input type="date" class="form-control" name="expDate" #expDate="ngModel"
                [(ngModel)]="transaction.TransactionData.expDate" required>
        </div>

        <div class="mb-3">
            <label for="fullName" class="form-label">CVV Number</label>
            <input type="text" class="form-control" name="Cvv" #Cvv="ngModel"
                [(ngModel)]="transaction.TransactionData.cvv" required>
        </div>

        <div class="mb-3">
            <label for="fullName" class="form-label">Pin Code</label>
            <input type="text" class="form-control" name="pin" #pin="ngModel"
                [(ngModel)]="transaction.TransactionData.pin" required>
        </div>

       
     
       
            <!-- <input type="text" class="form-control" name="pid" #pid="ngModel"
                [(ngModel)]="transaction.TransactionData.HolderId" required>
        -->
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
</div>