
<div id="wrapper">
    <app-side-bar></app-side-bar>
    <div id="content-wrapper" class="d-flex flex-column">   
        <div id="content">
            <app-top-bar></app-top-bar>
               

            <div class="container-fluid">


  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Loan Amounts</h1>
  
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th>Id</th>
                          <th>Amount</th>
                          <th>Premium Amount</th>
                          <th>Interest</th> 
                      </tr>
                  </thead>
                  <tbody>
                      
                      <tr *ngFor="let items of loanAmount.LoanList ">
                          <td>{{items.amountId}}</td>
                          <td>{{items.amountValue}}</td>
                          <td>{{items.amountPremium}}</td>
                          <td>{{items.interest}}</td>
                      </tr> 
                 
              

                  </tbody>
              </table>
           <a href="/AddLoanAmount" class="btn btn-danger">Add More Amounts</a>
      

<!-- /.container-fluid -->






        </div>
    </div>
</div>