<!-- Appointment Start -->
<div class="container-fluid appointment my-5 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                <h1 class="display-6 text-white mb-5">We're Award Winning Insurance Company</h1>
                <p class="text-white mb-5">Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem
                    sit clita duo justo magna dolore erat amet. Tempor erat elitr rebum at clita. Diam dolor diam ipsum
                    sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo
                    justo magna.</p>
                <div class="bg-white rounded p-3">
                    <div class="d-flex align-items-center bg-primary rounded p-3">
                        <img class="flex-shrink-0 rounded-circle me-3" src="assets/images/profile.jpg" alt="">
                        <h5 class="text-white mb-0">Call Us: +012 345 6789</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="bg-white rounded p-5">
                    <form #MyForm (ngSubmit)="AddUser(UserService.Data)">
                        <div class="row g-3">
                            <input type="hidden" class="form-control" name="id"
                                [(ngModel)]="UserService.Data.id">
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" placeholder="Name" name="name"
                                        #name="ngModel" [(ngModel)]="UserService.Data.name">
                                    <label for="gname">Name</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" placeholder="Email" name="email"
                                        #email="ngModel" [(ngModel)]="UserService.Data.email" />
                                    <label for="gmail">Email</label>
                                </div>
                            </div>


                          


                          


                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" placeholder="Password" name="password"
                                        #password="ngModel" [(ngModel)]="UserService.Data.password">
                                    <label for="gmail">Password</label>
                                </div>
                            </div>



                            <div class="col-12">
                                <button class="btn btn-primary py-3 px-5" type="submit">Sign in</button>
                            </div>
                            <br><br>

                            <a href="/Login">Already Have Account?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->