
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
        <a href="index.html" class="navbar-brand d-flex align-items-center">
            <h1 class="m-0"><img class="img-fluid me-3" src="img/icon/icon-02-primary.png" alt="">Insure</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto bg-light rounded pe-4 py-3 py-lg-0">
                <a href="" class="nav-item nav-link">Home</a>
                <a href="/About" class="nav-item nav-link">About Us</a>
                <a href="/Service" class="nav-item nav-link">Our Services</a>
                <a href="/Contact" class="nav-item nav-link">Contact Us</a>
                <a href="/MyPolicy" class="nav-item nav-link">My Policy</a>
                <a href="/MyLoan" class="nav-item nav-link">Loan</a>
                <a *ngIf="Token==null; else logoutButton" href="/Login" class="btn btn-primary log">Login</a>

                <ng-template #logoutButton>
                  <button (click)="logout()" class="btn btn-danger log">Logout</button>
                </ng-template>
               
            </div>
        </div>

       

       
    </nav>
    <!-- Navbar End -->